# Avnet Spartan-6 LX16 Evaluation Kit
# give r/w permissions to all users to the serial port IF
# by Yaman Umuroglu <maltanar@gmail.com>

ACTION!="add", SUBSYSTEM!=="usb_device", GOTO="kcontrol_rules_end"
ATTRS{idProduct}=="cdca", ATTRS{idVendor}=="04b4", MODE="666", GROUP="users"
ATTRS{idProduct}=="cdca", ATTRS{idVendor}=="04b4", MODE="666", GROUP="users"
ATTRS{idProduct}=="cdca", ATTRS{idVendor}=="04b4", MODE="666", GROUP="users"
ATTRS{idProduct}=="cdca", ATTRS{idVendor}=="04b4", MODE="666", GROUP="users"
LABEL="kcontrol_rules_end"











